*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.flex{
    display: flex;
}
.container{
    background-color: rgb(100, 0, 85);
    height: 100vh;
    font-size: 2em;
}
.header{
    background-color: rgb(62, 30, 56);
  
}
.menu{
    padding: 10px;
    color: blueviolet;
    background-color: rgb(2, 41, 2);
   
}
.main{
    background-color: rgb(4, 2, 37);
}
/* Grid */
.col-1{
    width: 8.333%;
}
.col-2{
    width: 16.666%;
}
.col-3{
    width: 24.999%;
}
.col-4{
    width: 33.333%;
}
.col-5{
    width: 41.666%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.333%;
}
.col-8{
    width: 66.666%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.333%;
}
.col-11{
    width: 91.666%;
}
.col-12{
    width: 100%;
}
@media (max-width:600px){
    body{
        background-color: #000;
        color: #ccc;
    }
}